<article flex="100" class="novel">
    <section layout="column" layout-align="center center">
        <div ng-if="novel.hasImage(novel.novel.imageUrl)">
            <img src="{{ novel.novel.imageUrl }}" width="300px" />
        </div>
        <h4 class="clickable" ng-click="novel.openNovel(novel.novel.url)">
            {{ novel.novel.url }}
            <md-tooltip>Open the link</md-tooltip>
        </h4>
        <h3>Summary</h3>
        <div>
            {{ novel.novel.summary }}
        </div>
    </section>
    <section class="novel-form-btn" layout="row" layout-align="center center">
        <md-button class="md-raised md-warn" aria-label="Delete novel" ng-click="novel.deleteNovel(novel.novel.novelId)">
            Delete&nbsp;<i class="fa fa-trash"></i>
        </md-button>
    </section>
</article>
