<form class="novel-form" name="novelForm" flex="100" ng-submit="novel.submit(novel.novel)" novalidate>
    <section layout="column">
        <div layout="row" flex="100">
            <md-input-container flex="80">
                <label>Title*</label>
                <input required ng-model="novel.novel.Title">
            </md-input-container>
            <md-switch ng-model="novel.novel.Favorite" aria-label="Favorite" class="md-warn" flex>
                Favorite
            </md-switch>
        </div>
        <md-input-container flex="100">
            <label>Url*</label>
            <input required ng-model="novel.novel.Url">
        </md-input-container>
        <md-input-container flex="100">
            <label>Image URL</label>
            <input ng-model="novel.novel.ImageUrl">
        </md-input-container>
        <md-input-container flex="100">
            <label>Summary</label>
            <textarea ng-model="novel.novel.Summary"></textarea>
        </md-input-container>
    </section>
    <section class="novel-form-btn" layout="row" layout-align="center center">
        <md-button type="submit" class="md-raised md-accent" ng-switch="novel.formType" ng-disabled="novelForm.$invalid" aria-label="Submit">
            <span ng-switch-when="creation">Create</span>
            <span ng-switch-default>Modify</span>
            &nbsp;<i class="fa fa-check"></i>
        </md-button>
    </section>
</form>
