<md-toolbar class="header">
    <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <md-button class="md-fab md-primary md-raised" aria-label="Back to list" ui-sref="novels.list">
            <md-tooltip>Back to list</md-tooltip>
            <span class="btn"><i class="fa fa-chevron-left"></i></span>
        </md-button>
        <h3 ng-if="header.isCreation()">
            New novel
        </h3>
        <h3 ng-if="header.isModification()">
            Modify {{ header.novel.Title }}
        </h3>
    </div>
</md-toolbar>
